.cube{
    height: 50px;
    width: 50px;
    background: #ccc;
    padding: 20px;
    margin: 10px;

}
#drope {
    position: absolute;
    left: 250px;
    border-top: 0;
    width: 125px;
    height: 125px;
  border: 1px solid slategrey;
  color: rgb(131, 185, 231);
    padding: 10px;
    
  }
 